header{
    text-align: center;
    font-size: 205%;
    color: red;
    font-family:sans-serif;
}
img{
    width: 50%;
    height: 25%;
    box-align: center;
}

h1{
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }